body {
  height: 100%;
}

main {
  min-height: calc(100vh - 170px);
}

.required-field {
  color: red;
  font-weight: 700;
}

.sys-form-floating .form-control {
  height: 48px !important;
  min-height: 48px !important;
  padding-top: 1.2rem !important;
  padding-bottom: 0.4rem !important;
}

.sys-form-floating label {
  padding: 0.75rem 0.75rem !important;
  font-size: 0.9rem;
}

.sys-form-floating label::after {
  content: "";
  height: 1.2em !important;
}

.custom-form-floating {
  position: relative;
  width: 100%;
}

.custom-form-floating label {
  position: absolute;
  top: -10px;
  left: 9px;
  background: #fff;
  padding: 0 5px;
  font-size: 12px;
  color: #888;
}

.custom-form-floating .form-control {
  height: 48px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.custom-form-floating .form-control:focus {
  border-color: #aaa;
  box-shadow: none;
}

.floating-input-group {
  display: flex;
}

.sys-input-group-text-38 {
  width: 38px;
  height: 48px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.sys-input-group-250 {
  width: 250px !important;
  height: 48px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.sys-btn-288 {
  width: 288px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 40px !important;
}

.sys-btn-264 {
  width: 264px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 40px !important;
}

.sys-btn-200 {
  width: 200px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 40px !important;
}

.sys-btn-150 {
  width: 150px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 40px !important;
}

.sys-input {
  height: 48px;
}

.sys-input-flex {
  height: 48px;
  min-width: 288px;
  width: 100%;
}

.sys-input-288 {
  width: 288px !important;
  height: 48px;
}

.sys-input-600-flex {
  min-width: 288px;
  max-width: 600px !important;
  height: 48px;
}

.sys-input-810-flex {
  min-width: 288px;
  max-width: 810px;
  height: 48px;
}

.sys-input-900-flex {
  min-width: 288px;
  max-width: 900px;
  height: 48px;
}

.sys-input-912-flex {
  min-width: 288px;
  max-width: 912px;
  height: 48px;
}

.sys-input-1122-flex {
  min-width: 288px;
  max-width: 1122px;
  height: 48px;
}

.sys-check-20 {
  width: 20px !important;
  height: 20px !important;
  margin-left: -1.7em !important;
}

.sys-check-label {
  align-content: center !important;
  margin-bottom: 0 !important;
}

.sys-select-288 {
  width: 288px !important;
  height: 48px;
}

.sys-col-176 {
  width: 176px !important;
  box-sizing: content-box;
}

.sys-col-184 {
  width: 184px !important;
  box-sizing: content-box;
}

.sys-col-600-flex {
  box-sizing: content-box;
  max-width: 600px !important;
  width: 100% !important;
}

.sys-col-900-flex {
  box-sizing: content-box;
  max-width: 900px !important;
  width: 100% !important;
}

.sys-col-912-flex {
  box-sizing: content-box;
  max-width: 912px !important;
  width: 100% !important;
}